<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../images/book.png">
    <link rel="stylesheet" href="../css/entries.css">
    <title>My Diary | Entries</title>
</head>

<body>
    <div class="main-container">
        <header class="header">
            <div class="logo-container">
                <a class="logo-wrapper" href="../index.html">
                    <img src="../images/book.png" alt="">
                    <p id="diary-text">My Diary</p>
                </a>
            </div>

            <div class="reg-buttons">
                <a href="new_entry.html">Add</a>
            </div>

            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="../index.html">Back</a>
                    <a href="entries.html">All Entries</a>
                    <a href="settings.html">Settings</a>
                    <a href="#">Share</a>
                    <a href="#">Feedback</a>
                    <a href="#">Log out</a>

                </div>
                <div class="overlay-footer">
                    <p>&copy; <script>
                            document.write(new Date().getFullYear());
                        </script>&nbsp; My&nbsp; Diary</p>
                </div>
            </div>

            <span class="burger-menu" onclick="openNav()">&#9776;</span>
        </header>

        <main class="content-container">
            <div class="entries">
                <h2> All Entries</h2>

                <div class="pagination">
                    <a href="#" onclick="Prev()"  title="Prev">&laquo; Prev</a>
                    <a href="#" onclick="Next()" title="Next">Next &raquo;</a>
                </div>

                <div class="foldables" id="page1">
                    <button class="foldable" id="foldOne">My First Line of Code | &nbsp;&nbsp; October 9, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                            
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="foldable" id="foldTwo">My First Bicycle Ride |&nbsp; October 9, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="foldable" id="foldThree">My First Grip On A Guitar |&nbsp; October 9, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <div class="other-foldables"  id="page2"> 
    
                    <button class="foldable" id="foldFour">My First Football game | &nbsp;&nbsp; November 20, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                            
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="foldable" id="foldFive">My First Cup of Coffee |&nbsp; November 22, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="foldable" id="foldSix">My First Safari |&nbsp; November 23, 2019</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>


            </div>
        </main> 
    </div> 
    <footer class="footer">
        <p>&copy; <script>
                document.write(new Date().getFullYear());
            </script>&nbsp; My&nbsp; Diary</p>
    </footer>
    <script type="text/javascript" src="../js/entries.js"></script>
</body>

</html> 
