@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');


body {
    padding: 0; 
    margin: 0;
    font-family: 'Caveat',  cursive, 'Ubuntu', sans-serif;
    height: 100%;
    transition: background 0.5s ease;
    box-sizing: border-box; 
    background:  #FDFEFE;
}


/*  Desktop/Laptop screen size */

@media screen and (min-width: 1224px) and (orientation: landscape){ 

    a {
        text-decoration: none;
    }

    .main-container {
        display: grid; 
        overflow: hidden;
    }

    .header {
        position: relative;
        height: 90px;
        outline: none;
    }

    .logo-wrapper img {
        padding: 15px;
    }
    .logo-wrapper{
        display: flex;
        position: absolute;
        left: 20px;
        top: 10px;
        padding: 5px;
    }

    #diary-text{
        margin-top: 19.5px;
        font-style: oblique;
        font-size: 25px;
        color: #000;
        font-family: 'Caveat', cursive, 'Ubuntu', sans-serif;
    }


    .burger-menu {
        font-size:30px;
        cursor:pointer;
        float: right; 
        margin:35px 30px 0 0;
        color: #000;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 12px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
      }
      

    .overlay-content a {
          font-size: 20px
    }
    .overlay .closebtn {
        font-size: 80px;
        top: -12px;
        right: 20px;
    }

    .overlay-footer {
        left: 0; 
        right: 0;
        bottom: 20px;
        position: absolute;
    }

    .overlay-footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 20px;
        color: #FDFEFE;
    }



    @-o-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-webkit-keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-moz-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }


    .content-container {
        position: relative;
        animation: fadeIn ease-in 2s;
        max-height: 800px;
    }
   
    .entries {
        display: block;
        justify-items: center;
    }

    .entries h2{
        text-align: center;
        font-weight: initial;
        margin-top: 50px; 
    }


    /* Icons start */


     #foldOne:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 65%; 
      }

    
    /* FoldTwo */


      #foldTwo:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 65%; 
      }

    /* FoldTrhee */

      #foldThree:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        margin-left: 65%;
      }
 
 
/* Icons end */


/* All entries start */


    .foldables{
        align-items: center;
        margin: 2% 60% 0 25%;
        width: 50%; 
        padding: 45px; 
        position: relative;
    }


    .foldable {
        background-color: #000;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .foldable:hover {
        background-color: rgba(255, 87, 51, 3);
       
      }

      
      .foldable:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff; 
        border-radius: 5px;
        border-bottom: 1px solid #fff;
      }

      .content p {
          color: #000; 
          font-size: 19px; 
          padding: 15px; 
          border: 1px solid #FF5733;
      }

/* All entries end */


    .footer {
        left: 0; 
        right: 0;
        bottom: 5px;
    }

    .footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 25px;
        color: #000;
    }

} 


/* Tablet/iPad screen size */

@media only screen and (max-width: 1024px) and (orientation: landscape){
    a {
        text-decoration: none;
        color: #000;
    }

    .main-container {
        display: grid; 
        overflow: hidden;

    }

    .header {
        position: relative;
        height: 90px;
    }

    .logo-wrapper img {
        padding: 15px;
    }
    .logo-wrapper{
        display: flex;
        position: absolute;
        left: 20px;
        top: 10px;
        padding: 5px;
    }

    #diary-text{
        margin-top: 19.5px;
        font-style: oblique;
        font-size: 25px;
        color: #000;
        font-family: 'Caveat', cursive, 'Ubuntu', sans-serif;
    }


    .burger-menu {
        font-size:30px;
        cursor:pointer;
        float: right; 
        margin:35px 30px 0 0;
        color: #000;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 12px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
      }
      

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
    font-size: 80px;
    top: -12px;
    right: 20px;
    }

    .overlay-footer {
        left: 0; 
        right: 0;
        bottom: 10px;
        position: absolute;
    }

    .overlay-footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 20px;
        color: #FDFEFE;
    }

    @-o-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-webkit-keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-moz-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }




    .content-container {
        height: 700px; 
        position: relative;
        animation: fadeIn ease-in 2s;
    }
    
    .entries h2{
        text-align: center;
        font-weight: initial;
        margin-top: 50px;
    }


 /* Icons start */

    /* FoldOne */
 
      #foldOne:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 65%; 
       }
 
     
     /* FoldTwo */
 

 
       #foldTwo:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 65%; 
       }
 
     /* FoldTrhee */
 
       #foldThree:focus::before {
          content: url("../images/trash.png");
          background-image: url("../images/edit.png");
          background-repeat: no-repeat; 
          background-position: right top;
          position: absolute;   
          height: 50px;
          width: 10%;
          justify-content: space-between;
          margin-left: 65%; 
       }
  
 /* Icons end */


    /* All entries start  */
    .foldables{
        align-items: center;
        margin: 5% 60% 0 30%;
        width: 50%;
    }

    .foldables #icons{
        position: absolute;
        top: 0; 
        display: flex; 
        left: 40%;
    }

    .foldable {
        background-color: #000;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .foldable:hover {
        background-color: rgba(255, 87, 51, 3);
       
      }
      
      .foldable:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff; 
        border-radius: 5px;
        border-bottom: 1px solid #fff;
      }

      .content p {
          color: #000; 
          font-size: 19px; 
          padding: 15px;
          border: 1px solid #FF5733;

      }

      /* All entries end  */ 


       .footer {
        position: absolute;
        left: 0; 
        right: 0;
        bottom: 20px;
    }

    .footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 25px;
        color: #000;
    }

} 


/* Mobile phone screen size */ 



@media only screen and (max-width: 700px) and (orientation: portrait){

    a {
        text-decoration: none;
    }

    .main-container {
        display: grid; 
    }

    .header {
        position: relative;
        height: 90px;
    }

    .logo-wrapper img {
        padding: 15px;
    }
    .logo-wrapper{
        display: flex;
        position: absolute;
        left: 20px;
        top: 10px;
        padding: 5px;
    }

    #diary-text{
        margin-top: 19.5px;
        font-style: oblique;
        font-size: 25px;
        color: #000;
        font-family: 'Caveat', cursive, 'Ubuntu', sans-serif;
    }


    .burger-menu {
        font-size:30px;
        cursor:pointer;
        float: right; 
        margin:35px 30px 0 0;
        color: #000;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 12px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
      }
      

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 80px;
        top: -12px;
        right: 20px;
    }

    .overlay-footer {
        left: 0; 
        right: 0;
        bottom: 10px;
        position: absolute;
    }

    .overlay-footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 20px;
        color: #000;
    }



    @-o-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-webkit-keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-moz-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }


    .content-container {
        height: 520px; 
        position: relative;
        animation: fadeIn ease-in 2s;
    }


    .entries h2{
        text-align: center;
        font-weight: initial;
        margin-top: 50px;
    }

    /* All entries start */ 


    .foldables{
        align-items: center;
        margin: 5% 50% 0 15%;
        width: 70%;
    }


    .foldables #icons{
        position: absolute;
        top: 0; 
        display: flex; 
        left: 40%;
    }


    .foldable {
        background-color: #000;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .foldable:hover {
        background-color: rgba(255, 87, 51, 3);
       
      }
      
      .foldable:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff; 
        border-radius: 5px;
        border-bottom: 1px solid #fff;
      }

      .content p {
          color: #000; 
          font-size: 19px; 
          padding: 15px;
          border: 1px solid #FF5733;

      }

      /* All entries end */

    .footer {
        left: 0; 
        right: 0;
        bottom: 20px;
    }

    
    .entries h2{
        text-align: center;
        font-weight: initial;
       margin-top: 50px; 
    }

    

     /* Icons start */

    /* FoldOne */
  
      #foldOne:focus::before {

        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: -25%; 
    }
 
     
     /* FoldTwo */
 
       #foldTwo:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: -25%; 
       }
 
     /* FoldTrhee */
 
       #foldThree:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: -25%; 
       }
  
  
 /* Icons end */

    .footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 25px;
        color: #000;
    } 

} 


/* Extra small mobile screen size */ 


@media only screen and (min-width: 300px) and (orientation: portrait){
    a {
        text-decoration: none;
    }

    .main-container {
        display: grid; 
        overflow: hidden;

    }

    .header {
        position: relative;
        height: 90px;
    }

    .logo-wrapper img {
        padding: 15px;
    }
    .logo-wrapper{
        display: flex;
        position: absolute;
        margin-left: -30px;
        top: 10px;
        padding: 5px;
    }

    #diary-text{
        margin-top: 19.5px;
        font-style: oblique;
        font-size: 25px;
        color: #000;
        font-family: 'Caveat', cursive, 'Ubuntu', sans-serif;
    }


    .burger-menu {
        font-size:30px;
        cursor:pointer;
        float: right; 
        margin:35px 30px 0 0;
        color: #000;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 12px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
      }
      

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 80px;
        top: -12px;
        right: 20px;
    }

    .overlay-footer {
        left: 0; 
        right: 0;
        bottom: 10px;
        position: absolute;
    }

    .overlay-footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }



    .content-container {
        height: 520px; 
    }


    @-o-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-webkit-keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    
    @-moz-keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }


    .content-container {
        height: 520px; 
        position: relative;
        animation: fadeIn ease-in 2s;
    }


    /* All entries start */ 


    .foldables{
        align-items: center;
        margin: 30% 50% 0 15%;
        width: 70%;
    }

    .foldables #icons{
        position: absolute;
        top: 20%; 
        display: flex; 
        left: 50%;
    }

    .foldable {
        background-color: #000;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
      }
      
      .active, .foldable:hover {
        background-color: rgba(255, 87, 51, 3);
      }
      
      .foldable:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff; 
        border-radius: 5px;
        border-bottom: 1px solid #fff;
      }

      .content p {
          color: #000; 
          font-size: 19px; 
          padding: 15px;
          border: 1px solid #FF5733;
      }

      /* All entries end */

    



/* Icons start */

    /* FoldOne */

      #foldOne:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 50%; 
      }
     
     /* FoldTwo */
 
      #foldTwo:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 50%;
      }
 
     /* FoldThree */
      
       #foldThree:focus::before {
        content: url("../images/trash.png");
        background-image: url("../images/edit.png");
        background-repeat: no-repeat; 
        background-position: right top;
        position: absolute;   
        height: 50px;
        width: 10%;
        justify-content: space-between;
        margin-left: 50%; 
  }
  
  
 /* Icons end */
  
    .footer {
        left: 0; 
        right: 0;
        bottom: 10px;
    }

    .footer p {
        margin: 10px 0 0 0;
        padding:0;
        text-align: center;
        font-size: 25px;
        color: #000;
    }
}